# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Distribution / packaging
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Data
*.csv
*.h

# Ignore Python virtual environments
venv/
ENV/
env/
.venv/

# Ignore compiled C extensions
*.so
